@font-face {
  font-family: "Roboto Mono";
}
*{
  font-family: 'Roboto Mono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to bottom, rgb(168, 192, 255), rgb(63, 43, 150));
}
